.hearthTwo {
    width: 200px;
    position: absolute;
    cursor: pointer;

}

.element {
    text-align: center;
    color: red;
}

@media (max-width: 600px) {
  .hearthTwo {
    width: 120px;
  }
}