
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



.hearth {
    width: 200px;
}

body {
    background-image: url(https://preview.redd.it/el-abismo-v0-fpxqrhwgbn5d1.jpeg?width=640&crop=smart&auto=webp&s=d85447afbba9a1e9a11828a2dc6e8dcdee5a50df);
    background-size: 100%;
 
}

@media (max-width: 420px) {
    
    body {
    background-size: contain;
    
        }

}

* {
    color: rgb(32, 10, 233);
    font-size: 32px;
    font-weight: 600;
     
}
