body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/corações\ flutuantes.jpg);
}

#abrirCarta {
    display: none;
}


main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

h1 {
    text-align: center;
}

#card {
    text-align: center;
    width: 700px;
}

#cart {
    width: 700px;
     display: none;
     text-align: center;
     font-style: sans-serif;
     font-size: 24px;
}

#abrirCarta:checked + label {
    display: none;
}

#abrirCarta:checked + label + #cart {
    display: block;
}

@media (max-width: 600px) {
#card {
    width: 400px;
}

#cart {
    width: 90%;
}


}